.item-boxes {
  display: block; }

.item-boxes h4 {
  color: #000; }

#video-area > [data-vide-bg="video/video"] > div {
  background: url("/assets/images/video-fallback.jpg") no-repeat 50% 50% !important;
  background-size: cover !important; }
